body
{
  margin-top: 40px;

  #teamsList
  {
    list-style: none;

    li
    {
      margin: 20px 0;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
      padding: 16px 10px;

      .glyphicon
      {
        top: 6px;
        opacity: 0;
      }

      .team-badge
      {
        width: 60px;
        height: 60px;
      }

      &:hover
      {
        background: #5cb85c;

        .glyphicon
        {
          opacity: 1;
        } 
      }
    }
  }

  #selectedTeam
  {

  }

  #fixturesList
  {
    list-style: none;

    .current
    {
      background: #5cb85c;
      color: #fff;
      padding: 6px 0;
      border-radius: 8px;
    }

    li
    {
      margin: 20px 0;
      font-size: 16px;

      .outcome
      {
        text-transform: uppercase;
        padding: 4px;
        border-radius: 5px;
        font-size: 11px;
        text-align: center;
        min-width: 45px;
        display: inline-block;
        color: #fff;

        &.win
        {
          background: #5cb85c;
        }

        &.loss
        {
          background: #d9534f;
        }

        &.draw
        {
          background: #999;
        }
      }

      .team-badge
      {
        width: 30px;
        height: 30px;
      }
    }
  }
}