body {
  margin-top: 40px;
}
body #teamsList {
  list-style: none;
}
body #teamsList li {
  margin: 20px 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 16px 10px;
}
body #teamsList li .glyphicon {
  top: 6px;
  opacity: 0;
}
body #teamsList li .team-badge {
  width: 60px;
  height: 60px;
}
body #teamsList li:hover {
  background: #5cb85c;
}
body #teamsList li:hover .glyphicon {
  opacity: 1;
}
body #fixturesList {
  list-style: none;
}
body #fixturesList .current {
  background: #5cb85c;
  color: #fff;
  padding: 6px 0;
  border-radius: 8px;
}
body #fixturesList li {
  margin: 20px 0;
  font-size: 16px;
}
body #fixturesList li .outcome {
  text-transform: uppercase;
  padding: 4px;
  border-radius: 5px;
  font-size: 11px;
  text-align: center;
  min-width: 45px;
  display: inline-block;
  color: #fff;
}
body #fixturesList li .outcome.win {
  background: #5cb85c;
}
body #fixturesList li .outcome.loss {
  background: #d9534f;
}
body #fixturesList li .outcome.draw {
  background: #999;
}
body #fixturesList li .team-badge {
  width: 30px;
  height: 30px;
}
