<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body ng-app="footyApp">

  <div class="container" ng-controller="FootyController">
    <div class="row">
      <div class="col-md-12" ng-hide="user.team">
        <div class="row form-horizontal">
          <label for="searchField" class="col-md-5 control-label">Select your team:</label>
          <div class="col-md-5">
            <input type="text" id="searchField" class="form-control" ng-model="search.name" placeholder="Team search">
          </div>
        </div>
        <ul id="teamsList">
          <li class="col-md-3" ng-click="selectTeam(team)" ng-repeat="team in league.teams | filter:search">
            <span class="glyphicon glyphicon-heart"></span>
            <img class="team-badge" ng-src="{{ team.image }}"/>
            {{ team.name }}
          </li>
        </ul>
      </div>

      <div id="selectedTeam" class="col-md-6" ng-show="user.team">
        <!-- <h3>Your team: {{ user.team }}</h3> -->
        <img class="team-badge" ng-src="{{ user.badge }}"/>
        <button class="btn btn-success" ng-click="playGame()"><span class="glyphicon glyphicon-play"></span> Play game week {{ gameWeek }}</button>

        <ul id="fixturesList">
          <li ng-repeat="team in fixtures.teams" ng-class="{current: gameWeek == $index + 1}">
            <span class="outcome {{team.gameInfo.outcome}}">{{ team.gameInfo.outcome }}</span>
            <span>
              {{ team.userTeam.team }}
              <img class="team-badge" ng-src="{{ team.userTeam.badge }}"/>
              {{ team.gameInfo.userScore }}
            </span>
            <span>:</span>
            <span>
              {{ team.gameInfo.compScore }}
              <img class="team-badge" ng-src="{{ team.image }}"/>
              {{ team.name }}
              {{ team.score }}
            </span>
          </li>
        </ul>
      </div>

      <div id="leagueTable" class="col-md-6" ng-show="user.team">
        <h2>League Table</h2>
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Team</th>
              <th>Goals</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{success: team.name==user.team}" ng-repeat="team in league.teams | orderBy:['-tableData.points', '-tableData.goalsFor', 'name']">
              <td>{{ $index + 1 }}</td>
              <td>{{ team.name }}</td>
              <td>{{ team.tableData.goalsFor }}</td>
              <td>{{ team.tableData.points }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div><!-- end FootyController -->

  <script src="inc/jquery.min.js"></script>
  <script src="inc/underscore.min.js"></script>
  <script src="inc/angular.min.js"></script>
  <script src="inc/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

</body>
</html>